.hero
  position relative
  font-size 0
  &:before
    content ""
    display inline-block
    padding-bottom 80%
    height auto
    vertical-align middle


.hero .hero__asset
  background-image url(images/tj.jpg)
  background-attachment fixed
  background-position 50% 50%
  background-repeat no-repeat
  background-size cover
  position absolute
  bottom 0
  left 0
  right 0
  top 0
  overflow hidden
  display flex
  margin 0
  justify-content center
  align-items center

.hero__title-group
  position relative
  &:after, &:before
    content ""
    height 3px
    width 80px
    background-color txtWhite
    position absolute
    left calc(50% - 40px)
    display block
  &:after
    bottom 0
  &:before
    top 0


.hero__title-group h1,
.hero__title-group h2
  color txtWhite
  font-size 40px
  line-height 1.5
