.header
  padding 0

.hero
  position relative

.hero__container
  position relative
  display flex
  justify-content center
  font-size 0
  text-align center
  background-color darkblue

.hero__asset img
  width 100%
  max-width 1200px
  margin 50px auto

.filtered
  filter grayscale(1)
  transition filter .5s ease

.hero__title-group
  position relative
  padding 40px 0
  border solid paleGold
  border-width 3px 0
  display flex
  flex-direction column

.hero__title-group h1,
.hero__title-group h2
  color txtBlack
  font-size 7rem
  max-width 100%

.hero__title-group h2
  font-size 4rem

.overlay-button
  z-index 1
  box-sizing content-box
  font-size 5.2rem
  border-radius: 50%
  color paleGold
  width 7rem
  height 7rem
  line-height 7rem
  border 3px solid paleGold
  background #fff
  position absolute
  font-family 'Raleway', sans-serif
  padding 0
  font-size 3rem
  transition transform .3s ease
  top -3.5rem
  &.open
    transform rotate(45deg) translate3d(0,0,0)
    transition transform .3s ease
  &.close
    transform rotate(0deg)
    transition transform .3s ease
  &:focus
    outline 0

.overlay
  position absolute
  opacity 0
  top 0
  height 100%
  width 100%
  background-color darkblue
  overflow auto
  align-items center
  justify-content center
  transition opacity .3s ease
  border-bottom 3px solid paleGold

.hero__container.close .overlay
  opacity 1

.overlay h1
  font-size 3rem
  color txtWhite
  position relative
  &:after
    content ""
    height 3px
    width 30px
    background-color paleGold
    position absolute
    display block
    bottom -25px
    left 50%
    margin-left -15px


.countdown-text-container
  color txtWhite
  text-align center
  width 60%
  margin 0 auto
  font-size 2.5rem
  display flex
  flex-direction column
  justify-content center
  height 60%
  font-family 'Raleway', sans-serif
  text-transform uppercase


.countdown-clock
  display flex
  justify-content space-around
  align-items center
  width 100%

.countdown-clock--item
  margin 0 1rem 5rem
  small
    font-size 1.5rem

@media (max-width: 1200px)
  .hero__asset img
    margin 0 auto

@media (max-width: 900px)
  .hero__title-group h1
    font-size 6rem

  .hero__title-group h2
    font-size 3.5rem

@media (max-width: 700px)
  .countdown-text-container
    height 80%

@media (max-width: 600px)
  .hero__title-group h1
    font-size 4rem
    margin-top 20px
  .hero__title-group h2
    font-size 1.5rem
    margin-top 0
  #home
    padding-top 60px
  .countdown-text-container
    height 100%

@media (max-width: 520px)
  .hero__title-group h1
    font-size 3rem
  .countdown-text-container
    width 90%
  .countdown-clock--item
    margin 0
  .hero__title-group h2
    font-size 2rem
  .overlay h1
    font-size 2rem
    padding-top 10px
  .overlay small
    font-size 1.2rem
