nav ul
  display flex
  justify-content space-around
  width 50%
  margin 0 auto
  li
    list-style none

nav ul li a
  text-decoration none
  text-transform uppercase
  color #000

.t-and-j {
  text-align center
  font-size 40px
  display flex
  justify-content center
  align-items center
  margin 20px 0 40px
}

.t, .j, .and
  height 60px
  width 60px
  line-height 60px

.t, .j
  border-radius 50%
  color blue
  background #fff
