nav
  width 30%
  min-width 300px
  margin 0 auto

nav ul
  display flex
  justify-content space-between
  width 100%
  padding 0
  margin 0
  border-bottom 4px solid darkBlue
  li
    list-style none
    font-size 1.5rem

nav ul li a
  text-decoration none
  text-transform uppercase
  color darkBlue
  padding 0 0 20px
  display inline-block
  &.active
    color blue
