header nav
  width 100%
  margin 0
  background-color darkBlue
  border-bottom 4px solid berryRed
  display flex

nav ul
  display flex
  justify-content space-between
  padding 0
  margin 0 auto
  position relative
  li
    list-style none
    font-size 1.5rem

nav ul li a
  text-decoration none
  text-transform uppercase
  color txtWhite
  padding 20px
  display inline-block
  &.active
    color blue


.lang-picker
  position absolute
  right 5px
  display flex
  font-size 1.5rem
  align-self center
  color txtWhite

.lang-picker li
  list-style none
  text-transform uppercase
  cursor pointer
  margin 0 5px
  position relative
  &.lang-active:after
    content ''
    height 2px
    width 10px
    position absolute
    left 50%
    margin-left -5px
    display block
    background berryRed
