@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display');

html
  font-size 62.5%

body
  font-size 2rem
  font-family: 'Open Sans', sans-serif;

h1, h2
  text-align center
  font-weight normal
  margin 0
  font-family 'Playfair Display', serif
  text-transform uppercase

h2,h3,h4
  font-weight normal

a:focus, a:hover, a:active
  opacity 0.5
  outline 0
