@import url('https://fonts.googleapis.com/css?family=Droid+Serif:300|Raleway:300');

html
  font-size 62.5%

body
  font-size 1.8rem
  font-family 'Droid Serif', serif
  color txtBlack
  letter-spacing 0.05em


h1, h2
  text-align center
  font-weight normal
  margin 0 auto
  font-family 'Raleway', sans-serif
  letter-spacing .8rem
  text-transform uppercase
  position relative
  font-size 4.2rem
  max-width 500px

h3, h4
  margin 10px 0

a
  color champagne
  display block
  transition color 0.3s ease
  position relative
  width auto
  z-index 1
  margin 10px 0
  &:hover
    transition color 0.3s ease
    color txtWhite

.underline
  margin-bottom 10px
  &::after
    content ""
    position absolute
    width 30px
    height 2px
    display block
    bottom -15px
    left 50%
    margin-left -15px
    background txtBlack
  &.white::after
    background txtWhite

h2,h3,h4
  font-weight normal

a:focus, a:hover, a:active
  outline 0

@media (max-width: 680px)
  h1
    font-size 3rem
@media (max-width: 420px)
  h1
    font-size 2rem
  h4
    font-size 1.3rem
