@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Raleway:300');

html
  font-size 62.5%

body
  font-size 1.8rem
  font-family 'Droid Serif', serif


h1, h2
  text-align center
  font-weight normal
  margin 0 auto
  font-family 'Raleway', sans-serif
  letter-spacing .8rem
  text-transform uppercase
  max-width 500px


h2,h3,h4
  font-weight normal

a:focus, a:hover, a:active
  opacity 0.5
  outline 0
