#contact {
  background-color: #0a242f;
  color: #e8e7e8;
  height: 100vh;
}
#contact h4 {
  display: inline-block;
}
#contact .tel {
  display: inline-block;
  margin-left: 10px;
}
#contact .email {
  margin-top: 0;
}
.icon-group {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto 0;
  position: relative;
  max-width: 580px;
}
.icon-group .fa {
  line-height: 8rem;
  font-size: 5rem;
  height: 8rem;
  width: 8rem;
  border: 1px solid;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.icon-group .fa:hover {
  background: #e8e7e8;
  color: #0a242f;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.icon-group .contact-textcontent {
  margin-top: 30px;
  line-height: 1.3;
  position: absolute;
  opacity: 0;
  left: 0;
  width: 100%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.icon-group input {
  visibility: hidden;
  border-width: 0;
  font-size: 0;
  padding: 0;
}
input:checked + label .fa {
  background: #e8e7e8;
  color: #0a242f;
}
input:checked + label .contact-textcontent {
  opacity: 1 !important;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media (max-width: 680px) {
  #contact {
    height: 90vh;
  }
  .contact-textcontent p,
  .contact-textcontent a {
    font-size: 1.5rem;
    width: 380px;
    padding: 0 5px;
    margin: 0 auto;
  }
  .contact-textcontent a {
    margin: 10px auto;
  }
}
@media (max-width: 600px) {
  #contact {
    height: 80vh;
  }
  .SpotifyPlayer {
    display: none;
  }
  .icon-group .contact-textcontent {
    margin-top: 15px;
  }
  .icon-group .fa {
    line-height: 6rem;
    font-size: 3rem;
    height: 6rem;
    width: 6rem;
  }
}
@media (max-width: 420px) {
  .contact-textcontent p,
  .contact-textcontent a {
    font-size: 1.3rem;
    width: 300px;
    padding: 0;
  }
  .contact-textcontent a {
    margin: 5px auto 0;
    width: auto;
  }
}
.header {
  padding: 0;
}
.hero {
  position: relative;
}
.hero__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0;
  text-align: center;
  background-color: #0a242f;
}
.hero__asset img {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
}
.filtered {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: -webkit-filter 0.5s ease;
  transition: -webkit-filter 0.5s ease;
  transition: filter 0.5s ease;
  transition: filter 0.5s ease, -webkit-filter 0.5s ease;
}
.hero__title-group {
  position: relative;
  padding: 40px 0;
  border: solid #e2ca95;
  border-width: 3px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero__title-group h1,
.hero__title-group h2 {
  color: #0a242f;
  font-size: 7rem;
  max-width: 100%;
}
.hero__title-group h2 {
  font-size: 4rem;
}
.overlay-button {
  z-index: 10;
  box-sizing: content-box;
  font-size: 5.2rem;
  border-radius: 50%;
  color: #e2ca95;
  background: #e2ca95;
  width: 7rem;
  height: 7rem;
  line-height: 7rem;
  border: 3px solid #e2ca95;
  background: #fff;
  position: absolute;
  left: 50%;
  margin-left: -3.5rem;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  font-size: 3rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  top: -3.5rem;
}
.overlay-button.open {
  -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
          transform: rotate(45deg) translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.overlay-button.close {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.overlay-button:focus {
  outline: 0;
}
.overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #0a242f;
  overflow: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  border-bottom: 3px solid #e2ca95;
  z-index: 9;
}
.hero__container.close .overlay {
  opacity: 1;
}
.overlay h1 {
  font-size: 3rem;
  color: #e8e7e8;
  position: relative;
}
.overlay h1:after {
  content: "";
  height: 3px;
  width: 30px;
  background-color: #e2ca95;
  position: absolute;
  display: block;
  bottom: -25px;
  left: 50%;
  margin-left: -15px;
}
.countdown-text-container {
  color: #e8e7e8;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60%;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}
.countdown-clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.countdown-clock--item {
  margin: 0 1rem 5rem;
}
.countdown-clock--item small {
  font-size: 1.5rem;
}
@media (max-width: 1200px) {
  .hero__asset img {
    margin: 0 auto;
  }
}
@media (max-width: 900px) {
  .hero__title-group h1 {
    font-size: 6rem;
  }
  .hero__title-group h2 {
    font-size: 3.5rem;
  }
}
@media (max-width: 900px) {
  .countdown-text-container {
    height: 80%;
  }
}
@media (max-width: 700px) {
  .hero__title-group h1 {
    font-size: 3rem;
    margin-top: 20px;
  }
  .hero__title-group h2 {
    font-size: 1.5rem;
    margin-top: 0;
  }
  #home {
    padding-top: 60px;
  }
  .countdown-text-container {
    height: 100%;
    width: 90%;
  }
}
@media (max-width: 520px) {
  .countdown-clock--item {
    margin: 0;
  }
  .overlay h1 {
    font-size: 2rem;
    padding-top: 10px;
  }
  .overlay small {
    font-size: 1.2rem;
  }
}
@media (max-width: 420px) {
  .overlay h1 {
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
  }
  .overlay h1:after {
    content: none;
  }
}
header nav {
  width: 100%;
  margin: 0 auto;
  background-color: #0a242f;
  border-bottom: 3px solid #e2ca95;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  position: relative;
}
.cloned {
  border-top: 2px solid #e2ca95;
  display: none;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  position: relative;
  right: -15px;
}
nav ul li {
  list-style: none;
  font-size: 1.5rem;
}
nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #e8e7e8;
  padding: 20px;
  display: inline-block;
}
nav ul li a.active {
  color: #00f;
}
.lang-picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  -ms-flex-item-align: center;
      align-self: center;
  color: #e8e7e8;
  margin-right: 15px;
}
.lang-picker li {
  list-style: none;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 5px;
  position: relative;
}
.lang-picker li.lang-active:after {
  content: '';
  height: 2px;
  width: 10px;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  display: block;
  background: #e2ca95;
}
@media (max-width: 520px) {
  nav ul li {
    font-size: 1.3rem;
  }
  nav ul li a {
    padding: 20px 10px;
  }
  .lang-picker {
    right: 10px;
    font-size: 1.3rem;
  }
}
@media (max-width: 400px) {
  nav ul li {
    font-size: 1.2rem;
  }
  .lang-picker {
    font-size: 1rem;
    right: 5px;
  }
  nav ul li a {
    padding: 20px 5px;
  }
  nav ul li:last-child a {
    margin-right: 20px;
  }
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: 2 1C 2 1D 2 18 2 19;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* {
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css?family=Droid+Serif:300|Raleway:300");
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  font-family: 'Droid Serif', serif;
  color: #0a242f;
  letter-spacing: 0.05em;
}
h1,
h2 {
  text-align: center;
  font-weight: normal;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  position: relative;
  font-size: 4.2rem;
  max-width: 500px;
}
h3,
h4 {
  margin: 10px 0;
}
a {
  color: #f3e5d3;
  display: block;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  position: relative;
  width: auto;
  z-index: 1;
  margin: 10px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
a:hover {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #e8e7e8;
}
a:focus,
a:hover,
a:active {
  outline: 0;
}
.underline {
  margin-bottom: 10px;
}
.underline::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  display: block;
  bottom: -15px;
  left: 50%;
  margin-left: -15px;
  background: #0a242f;
}
.underline.white::after {
  background: #e8e7e8;
}
h2,
h3,
h4 {
  font-weight: normal;
}
@media (max-width: 680px) {
  h1 {
    font-size: 3rem;
  }
}
@media (max-width: 420px) {
  h1 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.3rem;
  }
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
body {
  margin: 0;
  background: url("./images/snow.png") repeat;
}
section {
  padding-top: 50px;
}
@media (max-width: 680px) {
  section {
    padding-top: 25px;
  }
}
section p {
  margin: 0;
}
#home,
#contact,
#about,
footer {
  position: relative;
  padding: 80px 0;
  border-bottom: 4px solid #e2ca95;
}
@media (max-width: 680px) {
  #home,
  #contact,
  #about,
  footer {
    padding: 50px 0;
  }
}
@media (max-width: 420px) {
  #home,
  #contact,
  #about,
  footer {
    padding: 35px 0;
  }
}
.invitation {
  text-align: center;
  padding: 100px 0 100px;
  background: #fff;
  width: 30%;
  margin: 0 auto;
  border: 2px solid rgba(10,36,47,0.5);
  min-width: 480px;
  position: relative;
}
.invitation-pattern {
  position: absolute;
  bottom: 0;
  top: 30%;
  left: 0;
  right: 0;
}
.invitation-pattern > svg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: -1;
}
.invitation-pattern > svg .faded {
  opacity: 0.6;
}
.invitation p {
  text-transform: uppercase;
  font-size: 1.5rem;
  white-space: pre;
  line-height: 2.5rem;
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
}
.invitation h2 {
  white-space: pre;
  letter-spacing: 0.2rem;
  margin-bottom: 25px;
  font-size: 2.8rem;
}
.invitation .invitation__intro {
  background: #fff;
  position: relative;
  font-size: 2.8rem;
  padding: 0 30px;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
}
.invitation .invitation__intro:after {
  content: "...";
}
.stamp-container {
  width: 300px;
  text-align: center;
  margin: 3px auto 10px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  position: relative;
  z-index: 0;
}
.stamp-container img {
  width: 100%;
}
@media (max-width: 520px) {
  #home {
    padding-top: 50px;
  }
  .invitation-pattern {
    top: 30%;
  }
  .invitation {
    min-width: 300px;
    width: 90%;
    padding: 30px 0;
  }
  .invitation p {
    font-size: 1.2rem;
  }
  .stamp-container img {
    width: 70%;
  }
  .invitation h2,
  .invitation .invitation__intro {
    font-size: 1.6rem;
  }
}
.imageSwitcher__container {
  position: relative;
  width: 600px;
  height: 425px;
  margin: 50px auto 30px;
}
.imageSwitcher__image-container {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
.imageSwitcher__image-container.slideActive {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
.imageSwitcher__image-container img {
  width: 100%;
  border: 4px solid #f3e5d3;
}
.switcherItemsNav {
  position: absolute;
  list-style: none;
  top: 85%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.switcherItemsNav li {
  text-decoration: none;
  margin: 0 5px;
  color: #e8e7e8;
  background: #0a242f;
  height: 40px;
  width: 40px;
  line-height: 40px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #e8e7e8;
  cursor: pointer;
}
.switcherItemsNav li.slideActive {
  background: #e8e7e8;
  color: #0a242f;
  border: 1px solid #0a242f;
}
.imageSwitcher__container + p {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
}
@media (max-width: 680px) {
  .imageSwitcher__container {
    width: 400px;
    height: 275px;
    margin-top: 40px;
  }
  .imageSwitcher__container + p {
    font-size: 1.5rem;
    width: 380px;
    padding: 0 5px;
  }
}
@media (max-width: 420px) {
  .imageSwitcher__container {
    width: 300px;
    height: 200px;
  }
  .imageSwitcher__container + p {
    width: 300px;
    padding: 0;
    font-size: 1.3rem;
  }
  .switcherItemsNav {
    top: 80%;
    font-size: 1.3rem;
  }
}
footer {
  background: #fff;
  text-align: center;
}
.footer-asset-container {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}
.footer-asset-container img {
  width: 90%;
  max-width: 900px;
}
.hashtag {
  margin-top: 20px;
}
.hashtag ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px auto;
  padding: 0;
  width: 90px;
}
.hashtag ul li:first-child {
  -webkit-transition: color 0.9s ease;
  transition: color 0.9s ease;
}
.hashtag ul li:nth-child(2n) {
  -webkit-transition: color 0.7s ease;
  transition: color 0.7s ease;
}
.hashtag ul li:nth-child(3n) {
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.hashtag ul li:nth-child(4n) {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.hashtag:hover ul li {
  color: #e2ca95;
}
.hashtag:hover ul li:first-child {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.hashtag:hover ul li:nth-child(2n) {
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.hashtag:hover ul li:nth-child(3n) {
  -webkit-transition: color 0.7s ease;
  transition: color 0.7s ease;
}
.hashtag:hover ul li:nth-child(4n) {
  -webkit-transition: color 0.9s ease;
  transition: color 0.9s ease;
}
