// Import all partials
@require './_*.styl'

body
  font-size 15px
  margin 0
  font-family didot
  // background url('images/fresh_snow.png') center repeat
  // border-top 5px solid #fff

.app .hero
  background url('images/champ.jpeg') center no-repeat

.hero .title-group
  padding 100px 0
